@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#categorias a, a::after, #logo, footer {
    user-select: none; /* Standard syntax */
}

div#corpo {
    max-width: 1200px;
    height: 100%;
    margin:auto;
    padding: 40px 30px 40px 30px;
    background-color: #fff;
}

img.mini{
    border-radius: 8px;
    width: 96px;
}

img.full{
    height: 400px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12pt;
    color: rgb(77, 77, 77);
    height: 120px;
}

header {
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    color: rgb(77, 8, 77);
    font-style: italic;
}

#busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-style: normal;
}

#busca input[type="submit"] {
    font-size: 16pt;
}

#busca input {
    height: 40px;
}

#categorias a {
    font-size: 10pt;
    text-decoration: none
}

#categorias a::after {
    content: " |";
    color: black;
    font-size: 12pt;
}