@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #ddd;
    font-family: Tahoma;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

div#corpo{
    width: 800px;
    margin:auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
}

table.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.listagem tr{
    height: 50px;
}

table.listagem td{
    border:1px solid #ddd;
    padding: 10px;
}

table.listagem tr:nth-child(even){
    background-color: #f2f2f2;
}

table.listagem td:nth-child(1){
    width: 50px;
}

table.listagem td:nth-child(3){
    width: 90px;
}
table.detalhes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 20px;
}
table.detalhes td{
    padding: 30px;
    vertical-align: top;
}
table.detalhes td img {
    width: 300px;
}

img.mini{
    border-radius: 8px;
    width: 96px;
}

img.full{
    height: 400px;
}

footer{
    text-align: center;
    font-family: Arial;
    font-size: 10pt;
}

header{
    font-size: 10pt;
    text-align: right;
}

#busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-style: normal;
}

#categorias a, a::after, * {
    user-select: none; /* Standard syntax */
}

#categorias a {
    font-size: 10pt;
    text-decoration: none
}

#categorias a::after {
    content: " |";
    color: black;
    font-size: 12pt;
}