input, button {
    padding: 8px;
    border-radius: 5px;
    outline: 1px solid rgb(26, 26, 26);
    border: 0;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}
input:focus {
    outline: 4px solid rgb(122, 4, 176);
}
